<div class="main-container">
<h1>SpaceX Launch Programs</h1>
<section class="content-area">
<div class="left-column">
  <h2>Filters</h2>
  <!-- Launch Year -->
  <h3>Launch Year</h3>
<div class="launch-year">
  <button (click)="launchYearData('2006')">2006</button>
  <button (click)="launchYearData('2007')">2007</button>
  <button (click)="launchYearData('2008')">2008</button>
  <button (click)="launchYearData('2009')">2009</button>
  <button (click)="launchYearData('2010')">2010</button>
  <button (click)="launchYearData('2011')">2011</button>
  <button (click)="launchYearData('2012')">2012</button>
  <button (click)="launchYearData('2013')">2013</button>
  <button (click)="launchYearData('2014')">2014</button>
  <button (click)="launchYearData('2015')">2015</button>
  <button (click)="launchYearData('2016')">2016</button>
  <button (click)="launchYearData('2017')">2017</button>
  <button (click)="launchYearData('2018')">2018</button>
  <button (click)="launchYearData('2019')">2019</button>
  <button (click)="launchYearData('2020')">2020</button>
  <button (click)="dashboardStatics()">All</button>
</div>
<!-- Launch Year end -->
<!-- Successful Launch -->
<h3>Successful Launch</h3>
<div class="launch-year">
  <button (click)="launchSuccessData('true')">True</button>
  <button (click)="launchSuccessData('false')">False</button>
</div>
<!-- Successful Launch end-->
<!-- Successful Landing -->
<h3>Successful Landing</h3>
<div class="launch-year">
  <button  (click)="landingSuccessData('true')">True</button>
  <button (click)="landingSuccessData('')">False</button>
</div>
<!-- Successful Landing end-->
</div>
<div class="right-column">
<div class="error" *ngIf="dashboarStaticdata < 1">ooooooops.... No Data Found</div>

  <main class="cards">
 <article class="card" *ngFor= "let spacelaunch of dashboarStaticdata">
   <div class="gray-bg">
    <img src="{{spacelaunch.links.mission_patch_small}}" alt="Sample photo">
  </div>
    <div class="info">
      <h3>{{spacelaunch.mission_name}} #{{spacelaunch.flight_number}}</h3>
      <div> <h4> Mission Ids:</h4> <span>{{spacelaunch.mission_id}} <span *ngIf="spacelaunch.mission_id == ''">no data</span></span> </div>
      <div><h4> Launch Year: </h4> <span>{{spacelaunch.launch_year}}</span> </div>
      <div><h4> Successful Launch:</h4>  <span>{{spacelaunch.launch_success}}</span> </div>
      <div> <h4>Successful Landing:</h4>  <span>{{spacelaunch.rocket.first_stage.cores[0].landing_type}} <span *ngIf="spacelaunch.rocket.first_stage.cores[0].landing_type == null">no data</span> </span> </div>
    </div>
  </article>
  </main>
</div>

</section>

</div>
<footer><strong>Developed By:</strong> Pradeep Kumar 9015401683</footer>